.container {
  display: grid;
	grid-template-columns: 50px 150px 2fr 220px;
	grid-template-rows: auto;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  padding-left: 20px;
}
.header {
  margin: -8px -8px;
}
.header-menu {
  display: flex;
  width: auto;
  height: 50px;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  border-bottom: 1px solid rgba(231, 229, 229, 0.808);    
  box-shadow: 0px 1px 7px -2px;
}
.dropdown {
  list-style: none;
}
.list {
  position: relative;
  width: 180px;
  height: 30px;
  top: 70px;
  left: -60px;
  z-index: 10;
}
.menu-item:hover {
  background: rgb(109, 245, 177);
  cursor: pointer;
}
.menu-item:active {
  background: rgb(41, 212, 127);
  cursor: pointer;
}

.menu-item {
  display: block;
  width: 100%;
  height: 100%; 
  padding-left: 5px;
  font-size: 15px;
  color: black;
  background: rgb(199, 194, 194);
  border: 1px solid black;
}
.menu-list {
  margin-left: 20px;
}
.menu-list:hover {
  cursor: pointer;
}
.task-name {
  position: absolute;
  left: 50px;
}

.palette {
  grid-column: 1 / 1;
  height: 200px;  
  font-size: 18px;
  border: 1px solid rgba(231, 229, 229, 0.808);
  box-shadow: 1px 4px 10px -6px;
}
.palette-block{
	display: flex;
  width: 100%;
  height: 50px;
  align-items: center;  
  font-family: sans-serif;  
  font-size: 18px;
  color: rgb(148, 146, 146);
}
.color-block {    
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;  
  font-family: sans-serif;  
  font-size: 18px;
  color: rgb(148, 146, 146);
}
.fas {
  color: rgb(148, 146, 146);
  transform: scale(1.5);
}
.color-name {
  margin-left: 20px;
  font-family: sans-serif;
  color: rgb(148, 146, 146);
}
.color {
	position: fixed;
	top: 300px;
	left: 25px;
  width: 200px;
  height: 250px;
  background: white;
  border: 1px solid rgba(231, 229, 229, 0.808);
  box-shadow: 1px 4px 10px -6px;
  z-index: 10;
}
.canvas-area {
	display: flex;
	justify-content: center;
	grid-column: 3 / 3;
	width: 100%;
}
.canvas {
	background: url('../images/background.png');
	background-repeat: repeat;
	border: 1px solid black;
}
.palette-button {
  width: 100%;
  height: 50px;    
  padding-left: 15px;
  text-align: start;
  cursor: pointer;
  background: none;
  border: none;
}
.palette-button:hover {
	background: rgba(218, 216, 216, 0.308);
	color: rgb(109, 245, 177);
	
}

.palette-button:focus {
  background: rgba(115, 245, 115, 0.192);
  border: 1px solid green;
}

.radiobutton {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.white {
	background: rgb(216, 215, 215);
}
.green {
  background: rgb(102, 236, 120);    
}
.red {
  background: rgb(221, 88, 70);    
}
.blue {
  background: rgb(16, 147, 235);    
}
#customed input {
  margin-left: 5px;
  padding: 0;
}
.bold {
  font-weight: bold;
}

.frame-box {
	grid-area: 1 / 2 / span 1 / span 1;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}
.frame-list {
	list-style: none;
}
.frame {
	display: block;
	width: 100px;
	height: 100px;
	margin-left: -40px;
	margin-bottom: 10px;
	border: 3px solid black;
	background: url('../images/background.png');
	background-repeat: repeat;
}
.frame:hover {
	cursor: pointer;
}
.preview-box {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.number {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	top: -97px;
	left: 3px;
	background: rgb(41, 154, 206);
	font-size: 15px;
	color: rgb(188, 231, 29);
  text-align: center;
  z-index: 5;
}
.copyFrame {
	position: relative;
	top: -43px;
  left: 78px;
  z-index: 5;
}
.fa-copy, .fa-trash-alt {
	color: rgb(41, 154, 206);
}
.removeFrame {
	position: relative;
	top: -112px;
  left: 60px;
  z-index: 5;
}
.addNewFrame {
	width: 90px;
}
.preview-area {
  grid-area: 1 / 4 / span 1 / span 1;
  display: flex;
  justify-content: center;
}
.preview {
	width: 180px;
	height: 180px;
	border: 1px solid black;
}
.preview-open {
  position: fixed;
  right: 30px;
  top: 95px;
}
.fa-external-link-alt:hover {
  color: rgb(109, 245, 177);
  cursor: pointer;
}
.optionsArea {
	display: grid;
  grid-area: 1 / 4 / span 1 / span 1;
  grid-template-rows: 50px repeat(2, 1fr);
	margin-top: 200px;
	justify-content: center;
	align-items: center;
}
.fps-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}
.display-fps {
	padding-right: 10px;
}

.default-size, .resize {  
  display: block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}
.default-width, .default-height {    
  padding: 0 10px;
  margin: 0 5px;
  border: 1px solid black;
}
.canvas-width {
  display: inline-block;
  width: 30px;
}
.new-width-block {
  margin-bottom: 0;
}
.resize-input {
  width: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.error-message {
  margin: 0;
  height: 25px;
  color: rgb(206, 35, 35);
}
.resize-button {
  width: 100px;
}

.active {
  color: rgb(41, 212, 127);
}
.hovered {
  background: rgba(115, 245, 115, 0.192);
  border: 1px solid green;
}
.activeFrame {
	border: 3px solid blue;
}
.hidden {
  display: none;
}
.fas-hovered {
  color: rgb(109, 245, 177);
}
